<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.gbc.comp3074.LabTest1">
<!--  <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>-->
<!--    <uses-feature android:name="android.hardware.sensor.gyroscope"  android:required="true"/>-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ca.gbc.comp3074.LabTest1.SensorActivity"
            android:parentActivityName="ca.gbc.comp3074.LabTest1.MainActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="ca.gbc.comp3074.LabTest1.MainActivity"/>

        <activity android:name="ca.gbc.comp3074.LabTest1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>